
options.txt
ops.json
usercache.json
usernamecache.json
whitelist.json

mods/*
bin/*
config/*
logs/*
saves/*
world/*
crash-reports/*
asm/*

server.properties
eula.txt
banned-players.json
banned-ips.json
servers.dat
/bin/
*.piko
/config/
/crash-reports/
/logs/
/saves/
